In [4]:
import numpy as np
import pandas as pd
import openpyxl

formandos_terminados = pd.read_excel("Ficheiros2022/Formandos_Terminados2018.xlsx")
formandos_terminados.head()

,UTE_ID,CodCEFP,CodMedidaOrcam,Descritivo CodMedidaOrcam,Sexo,DataNascimento,IdadeEmAnos,Categoria,CodHabilitacao,Habilitacao,...,Mes9_Tipo,Mes10,Mes10_Remuneracao,Mes10_Tipo,Mes11,Mes11_Remuneracao,Mes11_Tipo,Mes12,Mes12_Remuneracao,Mes12_Tipo
0,107,202,D112218,Formação Modular,F,1971-08-25,47,2,06,6 Anos,...,TCO,1,658.0,TCO,1,658.0,TCO,1,658.0,TCO
1,112,310,D112225,Vida Ativa- Emprego Qualificado - Gestão Direta,M,1956-07-15,62,2,06,6 Anos,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
2,186,401,D112225,Vida Ativa- Emprego Qualificado - Gestão Direta,F,1966-04-28,52,2,12,12 Anos,...,TI,1,418.0,TI,1,418.0,TI,1,418.0,TI
3,276,404,D113202,Cursos de Educação e Formação para Adultos,F,1976-10-10,42,2,12,12 Anos,...,TCO,1,600.0,TCO,0,NaN,NaN,0,NaN,NaN
4,286,314,D112218,Formação Modular,F,1969-04-10,49,3,09,9 Anos,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

,UTE_ID,CodCEFP,CodMedidaOrcam,Descritivo CodMedidaOrcam,Sexo,DataNascimento,IdadeEmAnos,Categoria,CodHabilitacao,Habilitacao,...,Mes9_Tipo,Mes10,Mes10_Remuneracao,Mes10_Tipo,Mes11,Mes11_Remuneracao,Mes11_Tipo,Mes12,Mes12_Remuneracao,Mes12_Tipo
0,107,202,D112218,Formação Modular,F,1971-08-25,47,2,06,6 Anos,...,TCO,1,658.0,TCO,1,658.0,TCO,1,658.0,TCO
1,112,310,D112225,Vida Ativa- Emprego Qualificado - Gestão Direta,M,1956-07-15,62,2,06,6 Anos,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
2,186,401,D112225,Vida Ativa- Emprego Qualificado - Gestão Direta,F,1966-04-28,52,2,12,12 Anos,...,TI,1,418.0,TI,1,418.0,TI,1,418.0,TI
3,276,404,D113202,Cursos de Educação e Formação para Adultos,F,1976-10-10,42,2,12,12 Anos,...,TCO,1,600.0,TCO,0,NaN,NaN,0,NaN,NaN
4,286,314,D112218,Formação Modular,F,1969-04-10,49,3,09,9 Anos,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN