In [12]:
import numpy as np
import pandas as pd
import openpyxl

formandos_terminados = pd.read_excel("Ficheiros2022/Formandos_Terminados2018.xlsx")
formandos_terminados.head()

,UTE_ID,CodCEFP,CodMedidaOrcam,Descritivo CodMedidaOrcam,Sexo,DataNascimento,IdadeEmAnos,Categoria,CodHabilitacao,Habilitacao,...,Mes9_Tipo,Mes10,Mes10_Remuneracao,Mes10_Tipo,Mes11,Mes11_Remuneracao,Mes11_Tipo,Mes12,Mes12_Remuneracao,Mes12_Tipo
0,107,202,D112218,Formação Modular,F,1971-08-25,47,2,06,6 Anos,...,TCO,1,658.0,TCO,1,658.0,TCO,1,658.0,TCO
1,112,310,D112225,Vida Ativa- Emprego Qualificado - Gestão Direta,M,1956-07-15,62,2,06,6 Anos,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN
2,186,401,D112225,Vida Ativa- Emprego Qualificado - Gestão Direta,F,1966-04-28,52,2,12,12 Anos,...,TI,1,418.0,TI,1,418.0,TI,1,418.0,TI
3,276,404,D113202,Cursos de Educação e Formação para Adultos,F,1976-10-10,42,2,12,12 Anos,...,TCO,1,600.0,TCO,0,NaN,NaN,0,NaN,NaN
4,286,314,D112218,Formação Modular,F,1969-04-10,49,3,09,9 Anos,...,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN,NaN

In [13]:
df = formandos_terminados.iloc[:,[0,4,6,7,8,14,19,21,22,24,25,27,30,33,36,39,42,45,48,51,54,57,60]]
df.tail()

,UTE_ID,Sexo,IdadeEmAnos,Categoria,CodHabilitacao,CodDeficiencia,CodMotivoSaida,HorasForm,AreaFormacao,NivelFormacaoAccao,...,Mes3,Mes4,Mes5,Mes6,Mes7,Mes8,Mes9,Mes10,Mes11,Mes12
101289,6823660,M,19,2,09,0,92,NaN,523,4,...,1,1,1,1,1,1,0,0,0,0
101290,6823661,M,18,2,09,0,92,NaN,523,4,...,1,1,1,1,1,0,0,0,0,0
101291,6828403,M,21,2,09,0,92,NaN,523,4,...,1,1,1,1,1,1,0,0,0,0
101292,6828422,M,19,2,09,0,92,NaN,523,4,...,1,1,1,1,1,1,0,0,0,0
101293,6831598,F,64,3,04,0,91,25.0,762,2,...,1,1,1,1,1,1,0,0,0,0

## Motivo de saída deve ser válido
é necessário recolher os dados dos utentes que acabaram a formação

In [20]:
df = df.loc[df['CodMotivoSaida'] == 91]
df.dropna(inplace=True)
df.dtypes

UTE_ID                    int64
Sexo                     object
IdadeEmAnos               int64
Categoria                 int64
CodHabilitacao           object
CodDeficiencia            int64
CodMotivoSaida            int64
HorasForm               float64
AreaFormacao              int64
NivelFormacaoAccao       object
CodSaidaProfissional     object
Mes1                      int64
Mes2                      int64
Mes3                      int64
Mes4                      int64
Mes5                      int64
Mes6                      int64
Mes7                      int64
Mes8                      int64
Mes9                      int64
Mes10                     int64
Mes11                     int64
Mes12                     int64
dtype: object

## Categorizar coluna 'Sexo'

In [35]:
df.Sexo = df.Sexo.astype('category')
df = pd.DataFrame(df)
df.tail()

,UTE_ID,Sexo,IdadeEmAnos,Categoria,CodHabilitacao,CodDeficiencia,CodMotivoSaida,HorasForm,AreaFormacao,NivelFormacaoAccao,...,Mes3,Mes4,Mes5,Mes6,Mes7,Mes8,Mes9,Mes10,Mes11,Mes12
101274,6819653,F,30,3,12,0,91,25.0,761,2,...,1,1,1,1,1,1,0,0,0,0
101275,6820294,F,50,3,09,0,91,25.0,761,2,...,1,1,1,1,1,1,0,0,0,0
101276,6821891,F,58,3,09,0,91,50.0,346,2,...,0,0,0,0,0,0,0,0,0,0
101278,6822296,F,51,3,12,0,91,21.0,225,4,...,0,0,0,0,0,0,0,0,0,0
101293,6831598,F,64,3,04,0,91,25.0,762,2,...,1,1,1,1,1,1,0,0,0,0

## Factorização das colunas passadas como categoria - Sexo [F,M] --> [0,1]

In [38]:
cat_columns = df.select_dtypes(['category']).columns
df[cat_columns] = df[cat_columns].apply(lambda x: pd.factorize(x)[0])

In [39]:
df.tail()

,UTE_ID,Sexo,IdadeEmAnos,Categoria,CodHabilitacao,CodDeficiencia,CodMotivoSaida,HorasForm,AreaFormacao,NivelFormacaoAccao,...,Mes3,Mes4,Mes5,Mes6,Mes7,Mes8,Mes9,Mes10,Mes11,Mes12
101274,6819653,0,30,3,12,0,91,25.0,761,2,...,1,1,1,1,1,1,0,0,0,0
101275,6820294,0,50,3,09,0,91,25.0,761,2,...,1,1,1,1,1,1,0,0,0,0
101276,6821891,0,58,3,09,0,91,50.0,346,2,...,0,0,0,0,0,0,0,0,0,0
101278,6822296,0,51,3,12,0,91,21.0,225,4,...,0,0,0,0,0,0,0,0,0,0
101293,6831598,0,64,3,04,0,91,25.0,762,2,...,1,1,1,1,1,1,0,0,0,0